<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular Practice</title>
    <link href="bootstrapd.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
</head>
<body>
    <script>
        var myapp = angular.module("myApp", []);
        myapp.controller("myControler", function ($scope, $http) {
            API_URL = "http://labapi.somee.com/api/Person";
            $scope.personList = null;
                $http.get(API_URL)
                    .then(function (result) {
                        $scope.personList = result.data;
                    })

            $scope.addPerson = function () {
                var myObj = { "Name": $scope.Name, "Age": $scope.Age, "Height": $scope.Height, "CNIC": $scope.CNIC };
                console.log(myObj);
                $http.post(API_URL, myObj).then(function (result) {
                    Swal.fire(
                            'Good job!',
                            'Record Has been inserted!',
                            'success'
                        )
                    $http.get(API_URL)
                    .then(function (result) {
                        $scope.personList = result.data;
                    })
                })
            }
            $scope.deletePerson = function(id){
                const DEL_URL = API_URL+"/"+id;
                $http.delete(DEL_URL)
                    .then(function (result) {
                        Swal.fire(
                            'Good job!',
                            'Record Has been deleted!',
                            'success'
                        )
                    $http.get(API_URL)
                    .then(function (result) {
                        $scope.personList = result.data;
                    })
                    })
            }
        });
    </script>
    <div class="container" ng-app="myApp" ng-controller="myControler">
        <form>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" ng-model="Name" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input class="form-control" type="text" ng-model="Age" />
            </div>
            <div class="form-group">
                <label>Height</label>
                <input class="form-control" type="text" ng-model="Height" />
            </div>
            <div class="form-group">
                <label>CNIC</label>
                <input class="form-control" type="text" ng-model="CNIC" />
            </div>
            <div class="form-group">
                <button ng-click="addPerson()" class="btn btn-primary" type="button">Save Record</button>
            </div>
        </form>
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Cnic</th>
                <th></th>
            </tr>
            <tr ng-repeat="person in personList">
                <td>{{person.ID}}</td>
                <td>{{person.Name}}</td>
                <td>{{person.Age}}</td>
                <td>{{person.Height}}</td>
                <td>{{person.CNIC}}</td>
                <td><button ng-click="deletePerson(person.ID)" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        </table>
    </div>
</body>
</html>